<<<<<<<< 96d40819860e1f2e046ff0fefcc8f3391592fc3c:views/birthdayTemplate.ejs
<div>
    <h1 style="text-align: center;">Happy Birthday <%= name %></h1>
    <img src="cid:happyBirthdayImage">
</div>
========
<<<<<<< HEAD
<div>
    <h1 style="text-align: center;">Happy Birthday <%= name %></h1>
    <img src="cid:happyBirthdayImage">
</div>
=======
<div>
  <h1 style="text-align: center">Happy Birthday <%= name %></h1>
  <img src="cid:happyBirthdayImage" />
</div>
>>>>>>> aa45ea77f6577c45f3adb38c5e69621f11d1a868
>>>>>>>> 1b9a64d05d8d9ddce5d1ef027fa07db082dcce7f:src/api/views/birthdayTemplate.ejs
