<<<<<<<< 96d40819860e1f2e046ff0fefcc8f3391592fc3c:views/signupOTPTemplate.ejs
<body>
    <p>You registered for wellwisher admin account.</p>
    <p>Your OTP is <%= otp %></p>
</body>
========
<<<<<<< HEAD
<body>
    <p>You registered for wellwisher admin account.</p>
    <p>Your OTP is <%= otp %></p>
</body>
=======
<body>
  <p>You registered for wellwisher admin account.</p>
  <p>Your OTP is <%= otp %></p>
</body>
>>>>>>> aa45ea77f6577c45f3adb38c5e69621f11d1a868
>>>>>>>> 1b9a64d05d8d9ddce5d1ef027fa07db082dcce7f:src/api/views/signupOTPTemplate.ejs
